index.ejs
今日
11:53

吉川洋平 さんがアイテムを 1 個編集しました
HTML
index.ejs
11:36

吉川洋平 さんがアイテムを 1 個編集しました
HTML
index.ejs
11:01

吉川洋平 さんがアイテムを 1 個編集しました
HTML
index.ejs
9:50

吉川洋平 さんがアイテムを 1 個編集しました
HTML
index.ejs
9:29

吉川洋平 さんがアイテムを 1 個アップロードしました
HTML
index.ejs
<form action="/auth" method="post">
  <div>
    <label>ログイン名</label>
    <input type="text" name="login_name">
  </div>

  <div>
    <label>パスワード</label>
    <input type="password" name="password">
  </div>

  <div>
    <button>Loigin</button>
  </div>
</form>